
.chat-item {
    width: 50%;
}
.your-message {
    margin: 1em;
    padding: 1em;
    color: white;
    float: left;
}

.other-people {
    margin: 1em;
    padding: 1em;
    color: white;
    text-align: left;
    float: right;
}

.box-chat_message {
    min-height: 60vh;  
    max-height: 60vh;  
    overflow-y: auto;

}
.box-chat {
    width:70%;
    margin: 0 auto;
    margin-top: 100px;
    box-shadow: 0 0 10px 0 black;
    border-radius: 1em;
}

.send-box {
    bottom: 12%;
    position: fixed;
    width: 50%;
    padding: 1em;
}

textarea {
    width: 80%;
    margin: 0;
    padding: 0.5em;
    background: #ebf5ff;
    border-radius: 2em; 
    display: flex;
    float: left;
}
.chat_send {
    width: 10%;
    background: #6650ff;
    color: white;
    margin-left: 2px;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    padding: 1em;
    text-align: center;

}
  
.chat{
    height: 70%;
    width: 50%;
    top: 12%;
    right: 0;
    bottom: 0;
    position: fixed;
    background-color: #fff;
    border: solid #333;
}
.chat_user{
    color: #333;
    border-radius: 5px;
}
.chat_your{
    background: #009bff;
    border-radius: 5px;
}
.chat_other{
    background: #868686;
    border-radius: 5px;
}
.chat_delete{
    background-color: rgb(179, 174, 174);
    color: #333;
    border-radius: 2px;
}
/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .chat{
        width: 100%;
        top: 20%;
        height: 60%;
    }
    .box-chat_message {
        min-height: 50vh;  
    }
    .send-box{
        width: 100%;
    }

}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .chat{
        width: 50%;
        top: 20%;
        height: 60%;
    }
    .box-chat_message {
       min-height: 50vh;
    }
}
