.login{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
}
.login_title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: red;
}
.login_wrap{
    margin: 0 20rem 0 20rem;
}
.login_input{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
}
.login_name{
    font-size: 2rem;
    color: red;
}
.login_button{
    border-radius: 999px;
    font-size: 2rem;
    margin-top: 20px;
    background-color: red;
    color: #fff;
}


/* responsive
/* Mobile: width < 740px = 46.1875em */
@media (max-width: 46.1875em) {
    .login_wrap{
        margin: 0 10px 0 10px;
    }
    .login_name{
        font-size: 1.5rem;
    }


}
/* Tablet: width >= 740px and width <1024px  */
@media (min-width: 46.25em) and (max-width: 63.9375em){
    .login_wrap{
        margin: 0 100px 0 100px;
    }
    .login_input{
        height: 40px;
        font-size: 1.5rem;
    }

}